.delete-control {
    position: relative;
}

    /* Contenedor principal de la confimación para borrar un cookie */
    .confirm-delete {        
        position: absolute;
        z-index: 2;
        
        padding: var(--space-xxs);
        border-radius: var(--space-xs);
        background-color: var(--black-color);
        color: var(--vanilla-color);

        /* Estado inicial (cerrado): no se ve */
        opacity: 0;
        visibility: hidden;

        top: calc(100% + var(--space-xxxxs));       /* debajo del botón + separación */
        right: 0;                                   /* borde derecho alineado con el botón */
        left: auto;                     
                        
        /* Animación:
        - opacity/transform: transición visible
        - visibility: se retrasa al cerrar para que el fade-out termine */
        transition:
        opacity 0.1s ease-in-out,
        transform 0.1s ease-in-out,
        visibility 0ms linear 160ms; 
    }

    /* Estado activo (abierto): el panel se muestra */
    .confirm-delete.active {
        opacity: 1;
        visibility: visible;

        /* visibility sin delay para que sea interactuable al instante */
        transition:
        opacity 0.1s ease-in-out,
        transform 0.1s ease-in-out,
        visibility 0ms;
    }

        /* Estilos del accent de los botones para que vayan a corde con el color de fondo de cada cookie */
        .confirm-delete__text--vanilla {
            color: var(--vanilla-color);
        }

        .confirm-delete__text--violet {
            color: var(--light-violet-color);
        }

        .confirm-delete__text--light-green {
            color: var(--light-green-color);
        }

        .confirm-delete__text--light-blue  {
            color: var(--light-blue-color);
        }

        /* Contenedor de los botones de acción (Cancelar / Borrar) */
        .confirm-delete__actions {
                padding-top: var(--space-xxs);
                display: flex;
                flex-direction: row;
                gap: var(--space-xxs);
            }