/* Contenedor del catálogo de cookies: grid principal */
.cookies-catalogue {
    background-color: var(--fuchsia-color); 
    margin: 0 var(--margin-s);
    padding: var(--space-xs);
    border-radius: var(--space-l);
    
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));  /* 4 columnas iguales (1fr cada una) en escritorio */
    gap: var(--space-xs); 

}
    /*Estilos generales de forma para cada card de las cookies*/
    .cookie{
        position: relative;
        padding: var(--space-m) var(--space-xs) var(--space-xs) var(--space-xs);
        border-radius: var(--space-s);
    }

        /* Contenedor de los tipos (Vegana, Sin gluten, etc.) */
        .cookie__types-container {
            position: absolute;
            top: var(--space-xs);
            left: var(--space-xs);  
            
            display: flex;
            flex-direction: row;
            gap: var(--space-xxs);
        }

            /* Estilos de cada type individual */
            .cookie__type {
                background-color: var(--black-color-transparent);
                color: var(--black-color);
                padding: var(--space-xxxs) var(--space-xxs);
                border-radius: 999px;
            }

        /* Contenedor de la info de la cookie: imagen + nombre + botón/children */
        .cookie__info-container {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
        }

            /* Nombre de la cookie */
            .cookie__name {
                font-size: var(--text-l);
            }

/* ================================ max-width 1300px ================================ */

@media (max-width: 1300px) {

    /*El catálogo pasa de tener 4 columnas a tener 2*/
    .cookies-catalogue {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }    

    /* Nombre de la cookie más grande en estas resoluciones */
    .cookie__name {
        font-size: var(--text-xl);
    }
}  

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /*El catálogo pasa de tener 2 columnas a tener 1*/
    .cookies-catalogue {        
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }  

    /* Nombre aún más grande */
    .cookie__name {
        font-size: var(--text-xxl);
    }

}

/* ================================ max-width 450px ================================ */

@media (max-width: 450px) {

    /* Ajuste del tamaño del título de cookie para pantallas muy pequeñas */
    .cookie__name {
        font-size: var(--text-l);
    }
}

/* ================================ max-width 350px ================================ */

@media (max-width: 350px) {

    /* En pantallas ultra pequeñas, se quita el margen horizontal del catálogo para aprovechar todo el ancho disponible */
    .cookies-catalogue {
        margin: 0; 
    }

}