/* Contenedor del catálogo de cookies: grid principal */
.cookies-catalogue {
    background-color: var(--fuchsia-color); 
    margin: 0 var(--margin-s);
    padding: var(--space-xxs);
    border-radius: var(--space-l);
    
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));  /* 4 columnas iguales (1fr cada una) en escritorio */
    gap: var(--space-xxs); 
}
    /*Estilos del mensaje que aparece cuando no hay cookies*/
    .cookies-catalogue__empty {
        color: var(--vanilla-color)
    }
    
    /*Estilos generales de forma para cada card de las cookies*/
    .cookie{
        position: relative;
        padding: var(--space-l) var(--space-xxs) var(--space-xxs) var(--space-xxs);
        border-radius: var(--space-xs);
    }

        /* Contenedor de los tipos (Vegana, Sin gluten, etc.) */
        .cookie__types {
            position: absolute;
            top: var(--space-xxs);
            left: var(--space-xxs);  
            
            display: flex;
            flex-direction: row;
            gap: var(--space-xxxs);
        }

        /* Contenedor de la info de la cookie: imagen + nombre + botón/children */
        .cookie__body {
            display: flex;
            flex-direction: column;
            gap: var(--space-xxs);
        }

            /* cookie con transparencia cuando está oculta (para admin) */
            .cookie--hidden .cookie__main{
                opacity: 0.45;              
                filter: grayscale(0.5);     
                transition: all 0.1s ease; 
            }

                /* Nombre de la cookie */
                .cookie__name {
                    font-size: var(--text-l);
                }

/* ================================ max-width 1400px ================================ */

@media (max-width: 1400px) {

    /*El catálogo pasa de tener 4 columnas a tener 2*/
    .cookies-catalogue {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }    

    /* Nombre de la cookie más grande en estas resoluciones */
    .cookie__name {
        font-size: var(--text-xl);
    }
}  

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /*El catálogo pasa de tener 2 columnas a tener 1*/
    .cookies-catalogue {        
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
        border-radius: var(--space-m);
        padding: var(--space-xxxs);
        gap: var(--space-xxxs);
    }  

    /* Nombre aún más grande */
    .cookie__name {
        font-size: var(--text-xxl);
    }

}

/* ================================ max-width 450px ================================ */

@media (max-width: 450px) {

    /* Ajuste del tamaño del título de cookie para pantallas muy pequeñas */
    .cookie__name {
        font-size: var(--text-l);
    }
}

/* ================================ max-width 350px ================================ */

@media (max-width: 350px) {

    /* En pantallas ultra pequeñas, se quita el margen horizontal del catálogo para aprovechar todo el ancho disponible */
    .cookies-catalogue {
        margin: 0; 
    }

}