/* Contenedor principal de la página de sabores */
.flavors {
    padding: var(--space-l) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* Contenedor de título y subtítulo de la página */
    .flavors__intro {
        margin: 0 var(--margin-s);
    }

    /* Contenedor de los botones de filtro (Todas, Sin gluten, Veganas) */
    .flavors__filters {
        margin: var(--space-xs) 0;
        padding: var(--space-xxxxs);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--space-xl);
        
        background-color: transparent;
        border: 2px solid var(--black-color);
        border-radius: 999px;
    }

        /* Contenedor del catálogo de cookies dentro de la página de sabores */
        .flavors__catalogue {
            width: 100%;
            margin: 0 auto;
        }


/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /* En tablet/móvil se reduce el espacio entre los botones de filtro */
    .flavors__filters {
        gap: var(--space-xxs);
    }

    /* Botones más pequeños y compactos */
    .flavors__filter-button {
        padding: var(--space-xxxxs) var(--space-xxs);
        font-size: var(--text-xxs);
    }
}

/* ================================ max-width 450px ================================ */

@media (max-width: 450px) {

    /* En móviles muy pequeños se reduce aún más el espacio entre los filtros */
    .flavors__filters {
        gap: var(--space-xxxxs);
    }

    /* Botones todavía más ajustados para que todo quepa bien */
    .flavors__filter-button {
        padding: var(--space-xxxxs) var(--space-xxxs);
    }
}