.flavors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .flavors__title {
        font-size: var(--text-xl);
        text-align: center;
    }

    .flavors__subtitle {
        font-size: var(--text-m);
        text-align: center;
    }

    .flavors__filters {
        padding: 2rem;
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
    }