/* Contenedor principal de la página 404 (Not Found) */
.not-found {
    margin-bottom: var(--space-l);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Contenedor interno del contenido (imagen + texto) */
    .not-found__content {
        padding: 0 var(--margin-l);
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s)
    }

        /* Imagen principal de la página 404 */
        .not-found__img {
            max-width: 700px;
            height: auto;            
        }  

        /* Contenedor del texto (título + párrafo) */
        .not-found__text {
            display: flex;
            flex-direction: column;
            gap: var(--space-xxs)
        }

/* ================================ max-width 1024px ================================ */

@media (max-width: 1024px) {

    /* En pantallas más pequeñas se reduce el tamaño máximo de la imagen */
    .not-found__img {
        max-width: 500px;           
    }  

}

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /* Se reduce aún más el tamaño máximo de la imagen */
    .not-found__img {
        max-width: 400px;           
    }  

}