.cookie-form {
    width: 100%;
    margin: 0 auto;
}

    .cookie-form__form {
        margin: 0 var(--margin-s);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .cookie-form__btn {
            margin: var(--space-xs) 0;
        }

        .cookie-form__content {
            background-color: var(--fuchsia-color);
            padding: var(--space-xxs);
            border-radius: var(--space-l);

            display: flex;
            flex-direction: row;
            gap: var(--space-xxs);
        }

            .cookie-form__image {
                flex: 1;
                padding: var(--space-xxs);
                border-radius: var(--space-xs);
                background-color: var(--vanilla-color);                
            }

                .cookie-form__file-input {
                    display: none;
                }

            .cookie-form__fields {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: var(--space-xxs);
            }

                .cookie-form__types {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: var(--space-xxxxs);
                }

                .cookie-form__name,
                .cookie-form__textarea {
                    width: 100%;
                    box-sizing: border-box;

                    padding: var(--space-xxs);
                    border-radius: var(--space-xs);
                    background-color: var(--vanilla-color);
                }

                .cookie-form__textarea {
                    resize: none;
                    min-height: 300px;
                }                