input,
textarea {
    background-color: lightsalmon;
    margin: 1rem;
}

label {
    background-color: lightsalmon;
    margin: 1rem;
}

.checkbox {
    background-color: red;
    width: 20px;
    height: 20px;
}

.checkbox:checked{
  background: #000;               /* o un rojo más oscuro */
}

.container {
    background-color: lightskyblue;
    display: flex;
}

.container__types {
    background-color: lightgreen;
    display: flex;
}