input,
textarea {
    background-color: lightsalmon;
    margin: 1rem;
}

label {
    background-color: lightsalmon;
    margin: 1rem;
}


.container {
    background-color: lightskyblue;
    display: flex;
}

.container__types {
    background-color: lightgreen;
    display: flex;
}