/*Plus Jakarta Sans*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /*------------------------------------*\

    $CUSTOM PROPERTIES

    \*------------------------------------*/

    /*
    ============== COLORS ==============
    */

    /*Los colores de esta web están agrupados por parejas y deben usarse manteniendo esas parejas de 
    color para asegurar la accesibilidad mediante un correcto contraste. 

    Por tanto, los colores claros se usarán de fondo y para el color de texto sólo podrá usarse el
    color negro o la pareja de ese color.

    Ejemplo: Con el fondo color "vanilla" los textos sólo podrán ser de color "fuchsia" (para títulos
    o textos a resaltar) o negro.*/

    /*PAREJA DE COLOR 1: COLORES PRIMARIOS*/
    /*color de acento de la mayoría de la web*/   
    --fuchsia-color:            rgba(158, 0, 68, 1);
    /*color de fondo de la mayoría de la web*/
    --vanilla-color:            rgba(255, 237, 179, 1);

    /*PAREJA DE COLOR 2*/
    --dark-green-color:         rgba(23, 63, 53, 1);
    --light-violet-color:       rgba(236, 208, 242, 1);

    /*PAREJA DE COLOR 3*/
    --dark-blue-color:          rgba(33, 27, 198, 1);
    --light-green-color:        rgba(216, 241, 204, 1);

    /*PAREJA DE COLOR 4*/
    --dark-purple-color:        rgba(127, 11, 160, 1);
    --light-blue-color:         rgba(201, 242, 235, 1);

    /*COLOR NEGRO PARA TEXTO Y ALGUNOS COMPONENTES COMO EL FOOTER Y LOS BOTONES*/
    --black-color:              rgba(16, 18, 18, 1);
    --black-color-transparent:  rgba(16, 18, 18, 0.15);

    /*
    ============== SPACE NAVBAR ==============
    */
    --space-navbar:  4.5rem;

    /*
    ============== DIMENSIONS ==============
    */
    --space-xxl:  7rem;
    --space-xl:  5rem;
    --space-l:  4rem;
    --space-m:  3rem;
    --space-s:  2.5rem;
    --space-xs:  1.5rem;
    --space-xxs:  1rem;
    --space-xxxs:  0.5rem;

    /*
    ============== MARGINS ==============
    */
    --margin-l: clamp(1rem, 19vw, 19rem);
    --margin-m: clamp(1rem, 12vw, 12rem);
    --margin-s: clamp(1rem, 6vw, 6rem);

    /*
    ============== FONT SIZES ==============
    */
    --text-xxl: clamp(3rem, 5.5vw, 5.5rem);
    --text-xl:  clamp(2.5rem, 3.5vw, 4.25rem);
    --text-l:  clamp(2rem, 2.5vw, 3rem);
    --text-m:  clamp(1.375rem, 2.25vw, 2.25rem);
    --text-s:  clamp(1rem, 1.5vw, 1.75rem);
    --text-xs:  clamp(0.875rem, 1.0vw, 1.25rem);
    --text-xxs: 0.75rem;

}

/*------------------------------------*\

$DEFAULT STYLES

\*------------------------------------*/

body {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
    font-weight: 500;
    background-color: var(--vanilla-color);
    color: var(--black-color);
}

/*------------------------------------*\

$TEXT STYLES

\*------------------------------------*/

.poppins-bold-uppercase {
    font-family: "Poppins";
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1;
}

.plus-jakarta-bold {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------*\

$TITLE AND SUBTITLE OF EACH PAGE

\*------------------------------------*/

.title,
.subtitle {
    text-align: center;
}

.title {
    font-family: "Poppins";
    font-size: var(--text-xl);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1;
}

.subtitle {
    font-size: var(--text-m);
}

/*------------------------------------*\

$MAX-WIDTH CONTAINER

\*------------------------------------*/

.max-width-1920 {
    max-width: 1920px;
}

/*------------------------------------*\

$COLOR PATTERN

\*------------------------------------*/

/*Variante: card con tema de color "vanilla"*/
.cookie--vanilla {
    background-color: var(--vanilla-color);             
    color: var(--fuchsia-color);  
    fill: var(--fuchsia-color);                
}

/*Variante: card con tema de color "violet"*/
.cookie--violet {
    background-color: var(--light-violet-color);             
    color: var(--dark-green-color);    
    fill: var(--dark-green-color);                
}

/*Variante: card con tema de color "light-green"*/
.cookie--light-green {
    background-color: var(--light-green-color);             
    color: var(--dark-blue-color);     
    fill: var(--dark-blue-color);             
}

/*Variante: card con tema de color "light-blue"*/
.cookie--light-blue {
    background-color: var(--light-blue-color);             
    color: var(--dark-purple-color);      
    fill: var(--dark-purple-color);            
}


