:root {
/* Tipografía definida por el usuario */ 
font-size : 100% ; 
/* Anclas suaves */
scroll-behavior : smooth;
}
/* (Reset clásico) Reseteamos los margin, paddings y bordes de todas las etiquetas */
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
/* Reseteamos los before y after */
*::before , *::after {
  display : block;
}
/* Evitamos problemas con las imagenes y vídeos */
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  /* Ajustamos el tamaño del objeto imagen dentro de img y video */
object-fit : cover;
  /* Ponemos la posicion del objeto imagen dentro de img y video */
object-position : center center;
}
/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
/* Quitamos los puntos de los <li> */
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
/* Nivelamos problemas de tipografías y colocación de formularios */
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  /* Desactivamos los estilos base */ appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
/* Reseteamos las tablas */
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
/* Evitamos problemas con los SVG */
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
/* Configuramos la tipografía para toda la web */
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  /* Evitamos que el texto se desborde */
hyphens : auto;
  /* La tipografía es más limpia en macOS */
font-smooth : always;
  /* La tipografía es más limpia en macOS */
-webkit-font-smoothing : antialiased;
  /* La tipografía es más limpia en macOS */
-moz-osx-font-smoothing : grayscale;
}