.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

    background-image: url('../../../assets/svg/wallpapers/tiles.svg');
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center top;
}

    .login__container {
        width: min(800px, calc(100% - (2 * var(--space-s))));
        overflow-x: hidden;
        margin: var(--space-s);
        padding: var(--space-xl) var(--space-s) var(--space-s) var(--space-s);

        background-color: var(--vanilla-color);
        border-radius: var(--space-m);
    }

        .login__container,
        .login__header,
        .login__fields {
            display: flex;
            flex-direction: column;
        }

        .login__container {
            gap: var(--space-xl);
        }

        .login__header,
        .login__fields {
            gap: var(--space-xxxs);
        }

            .login__home-link {
                width: fit-content;             
                transition: transform 0.15s ease;
            }

            .login__home-link:focus-visible {
                transform: translateY(-3px);
                border-bottom: 1px solid var(--black-color);
            }

            /* Hover: solo si el dispositivo realmente soporta hover */
            @media (hover: hover) and (pointer: fine) {
            .login__home-link:hover {
                transform: translateY(-3px);
            }
            }

                .login__logo {                      
                    width: var(--space-s);
                    height: var(--space-s);
                }

            .login__title {
                margin-top: var(--space-xxxs);
                font-size: var(--text-l);
            }

            .login__subtitle {
                font-size: var(--text-s);
            }

                .login__input {
                    padding: 1rem 2rem;
                    font-size: var(--text-xs);
                    cursor: auto;

                    border-radius: 999px; 
                    background-color: transparent;
                    color: var(--black-color);
                    border: 2px solid var(--black-color);
                }

                .login__input:focus-visible {
                    background-color: var(--black-color-transparent);
                }

            .login__submit {
                width: 100%;
                margin-top: var(--space-xs);
            }

        .login__footer{
            display: flex;
            justify-content: flex-end;
        }

/* ================================ max-width 550px ================================ */

@media (max-width: 550px) {

    .login__container{
        width: min(800px, calc(100% - (2 * var(--space-xxs))));
        margin: var(--space-xxs);
        padding: var(--space-l) var(--space-xs) var(--space-xs) var(--space-xs);

    }
}

/* ================================ max-width 350px ================================ */

@media (max-width: 350px) {

    .login__container{
        padding: var(--space-l) var(--space-xxs) var(--space-xxs) var(--space-xxs);
    }
}
