/* Barra de navegación: ocupa todo el ancho y se mantiene sticky arriba*/
.nav {
    width: 100%;
    background-color: var(--vanilla-color);
    border-bottom: 2px solid var(--black-color);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body:has(.cookie-details.cookie--violet) .nav { 
background-color: var(--light-violet-color);
}

body:has(.cookie-details.cookie--light-green) .nav { 
background-color: var(--light-green-color);
}

body:has(.cookie-details.cookie--light-blue) .nav { 
background-color: var(--light-blue-color);
}

    /* Contenedor interno del nav (centrado y con padding lateral) */
    .nav__container { 
        margin: 0 auto;
        padding: var(--space-xxs) var(--margin-s);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

            /* Icono del logo e icono de Instagram: tamaño cuadrado */
            .nav__icon {
                width: var(--space-s);
                height: var(--space-s);
            }

        /* Contenedor del menú (lista + icono instagram) */
        .nav__menu {
            display: flex;
            align-items: center;
            gap: var(--space-l);
        }

            /* Lista del menú de navegación (Sabores y Visítanos) */
            .nav__menu-list {               
                gap: var(--space-l);
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }

                /* Cada elemento del menú */
                .nav__menu-item {
                    flex: 1;
                    text-align: center;    
                    font-size: var(--text-xs);             
                }             

                    /* Enlaces del menú y enlaces de logo e Instagram: se les aplica la misma transición de movimiento */
                    .nav__menu-link,
                    .nav__link {
                        transition: transform 0.15s ease;
                    }

                    /* Efecto “subir” en hover o focus-visible: tanto para los enlaces de menú como para el logo e Instagram */
                    .nav__menu-link:hover,
                    .nav__menu-link:focus-visible,
                    .nav__link:hover,
                    .nav__link:focus-visible{
                        transform: translateY(-3px);
                    }

/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

    /* En móviles/tablets pequeñas se reduce el espacio entre elementos del menú */
    .nav__menu {
        gap: var(--space-xs);
    }

    .nav__menu-list {               
        gap: var(--space-xs);
    }

}