/* Estilos de cada type individual */
.cookie__type {
    display: inline-flex;
    background-color: var(--black-color-transparent);
    color: var(--black-color);
    padding: var(--space-xxxxs) var(--space-xxxs);
    border-radius: 999px;
    font-size: var(--text-xxs);
}