/*------------------------------------*\

$COMMON STYLES FOR ALL BUTTONS

\*------------------------------------*/

/* Estilos generales */
.btn {
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 999px;    
    cursor: pointer;    
    transition: transform 0.15s ease;
}

/* Estados hover y focus-visible para "PILL BUTTON"
   - Cuando el ratón pasa por encima o el elemento recibe foco accesible,
     el botón se mueve ligeramente hacia arriba (efecto “elevado”). */
.btn:hover,
.btn:focus-visible {
    transform: translateY(-3px);
}

/* Estado deshabilitado:
   - Botón semitransparente
   - Cursor de no permitido
   - Sin animación de movimiento */
.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
}

/*------------------------------------*\

$PILL BUTTON

\*------------------------------------*/

/* Estilos de forma del botón píldora*/
.pill-btn {
    display: inline-flex;         
    padding: 1rem 2rem;
    font-size: var(--text-xs);
}

/*------------------------------------*\

$CIRCULAR BUTTON

\*------------------------------------*/

/*Estilos de forma del botón circular*/
.circular-btn {
    display: flex; 
    flex-direction: column;
    width: 4.5rem;
    height: 4.5rem;
    font-size: var(--text-xxs);
}

/*------------------------------------*\

$COLOR VARIATIONS

\*------------------------------------*/

/* Variante: botón negro sólido con texto color "vainilla" */
.btn--black {
    background: var(--black-color);
    color: var(--vanilla-color)
}

/* Variante: botón "vanilla" sólido con texto color negro */
.btn--vanilla {
    background: var(--vanilla-color);
    color: var(--black-color)
}

/* Variante: borde negro, fondo transparente, texto negro */
.btn--outline-black {
    background-color: transparent;
    color: var(--black-color);
    border: 2px solid var(--black-color);
}

/* Variante: borde fucsia */
.btn.cookie--vanilla {
    border: 2px solid var(--fuchsia-color);
}

/* Variante: borde verde oscuro */
.btn.cookie--violet {
    border: 2px solid var(--dark-green-color);
}

/* Variante: borde azul oscuro */
.btn.cookie--light-green {
    border: 2px solid var(--dark-blue-color);
}

/* Variante: borde morado oscuro */
.btn.cookie--light-blue {
    border: 2px solid var(--dark-purple-color);
}

/* ================================ max-width 350px ================================ */

@media (max-width: 350px) {

/* Reducimos el padding en pantallas muy pequeñas */
.pill-btn {        
    padding: 0.75rem 1.5rem;
}

}