    /* Contenedor de la imagen + círculo decorativo */
    .cookie__image-container {
        position: relative;
    }

        /* Imagen de la cookie (picture) */
        .cookie__image {
            z-index: 1;
            position: relative;
            top: -1rem;
            left: -1rem;
        }

        /* Círculo SVG de fondo decorativo */
        .cookie__circle {
            z-index: 0;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
        }