/* Contenedor principal de la página de sabores */
.control-panel {
    padding: var(--space-l) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .control-panel__intro {
        padding-bottom: var(--space-xs);
    }

    .control-panel__buttons-container {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--space-xxxs);
    }

/* ================================ max-width 1500px ================================ */

@media (max-width: 1500px) {

    .control-panel__buttons-container {
        gap: var(--space-xxxxs);
    }

}

/* ================================ max-width 1500px ================================ */

@media (max-width: 1400px) {

    .control-panel__buttons-container {
        gap: var(--space-xxxs);
    }

}

/* ================================ max-width 450px ================================ */

@media (max-width: 450px) {

    .control-panel__buttons-container {
        gap: var(--space-xxxxs);
    }

}