/* Contenedor principal de la página de sabores */
.admin-flavors {
    margin-bottom: 6.25rem;     /*para que cuando confirm-delete de la última cookie este visible no choque con el borde inferior de la pantalla */
    padding: var(--space-l) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .admin-flavors__header {
        margin: 0 var(--margin-s);
    }

    .admin-flavors__nav {
        margin: var(--space-xs) var(--margin-s);
    }

    .admin-flavors__item-actions {
        position: relative;
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        gap: var(--space-xxxs);
    }

/* ================================ max-width 1500px ================================ */

@media (max-width: 1500px) {

    .admin-flavors__item-actions {
        gap: var(--space-xxxxs);
    }

}

/* ================================ max-width 1500px ================================ */

@media (max-width: 1400px) {

    .admin-flavors__item-actions {
        gap: var(--space-xxxs);
    }

}

/* ================================ max-width 450px ================================ */

@media (max-width: 450px) {

    .admin-flavors__item-actions {
        gap: var(--space-xxxxs);
    }

}