.home__cover {
    position: relative;
    width: 100%;
    background-image: url('../../assets/rayas.svg');
    background-repeat: repeat;
    background-size: 200px 100px;
    background-position: center top;
}

    .home__cover-media {
        padding: 0 var(--margin-m);       
        position: relative;
        top: var(--space-xxl);
    }

        .home__cover-picture {
            margin: 0 auto;
            max-width: 900px;
        }

.home__claim {
    margin: 0 auto;
    padding: 0 var(--margin-m);
    width: 100%;
}

    .home__claim-text {        
        padding-top: var(--space-xxxxl);
        font-size: var(--text-xl);
        text-align: center;
        font-weight: 700;
        color: var(--fuchsia-color);
    }

    .home__claim-media {
        margin: 0 auto;
        padding-top: var(--space-xxxl);
        max-width: 900px;
    }

.home__cta {    
    padding: 0 var(--margin-m);
    padding-bottom: var(--space-xxl);
    width: 100%;
    background-image: url('../../assets/damasco.svg');
    background-repeat: repeat;
    background-size: 200px 200px;
    background-position: center top;
}

    .home__cta-media {
        margin: 0 auto;
        max-width: 900px;
    }

        .home__cta-half-circle {
            fill: var(--vanilla-color);
        }

    .home__cta-content {
        margin: 0 auto;
        padding-top: var(--space-xl);
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }

        .home__cta-text {
            display: flex;
            flex-direction: column;
            gap: var(--space-xxxs);
        }

            .home__cta-title,
            .home__cta-subtitle {
                color: var(--vanilla-color);
                text-align: center;
            }

            .home__cta-title {
                font-size: var(--text-xl);
            }

            .home__cta-subtitle {
                font-size: var(--text-l);
            }
        
        .home__cta-link{
            width: fit-content;
            align-self: center;   
        }

/* ================================ max-width 550px ================================ */

@media (max-width: 550px) {

    .home__cover-media {
        top: var(--space-l);
    }

    .home__claim-text {        
        padding-top: var(--space-xxl);
        font-size: var(--text-l);
    }

    .home__claim-media {        
        padding-top: var(--space-l);
    }

    .home__cta-subtitle {
        font-size: var(--text-m);
    }
}

/* ================================ max-width 350px ================================ */

@media (max-width: 350px) {

    .home__cta-title {
        font-size: var(--text-l);
    }
}

