.not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .not-found__content {
        padding: 0 var(--margin-l);
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-m)
    }

        .not-found__img {
            max-width: 700px;
            height: auto;            
        }  

        .not-found__text {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs)
        }
            .not-found__title {
                font-size: var(--text-xxl);
            }

            .not-found__paragraph {
                font-size: var(--text-m);
            }

/* ================================ max-width 1024px ================================ */

@media (max-width: 1024px) {

.not-found__img {
    max-width: 500px;           
}  

}
/* ================================ max-width 768px ================================ */

@media (max-width: 768px) {

.not-found__img {
    max-width: 400px;           
}  

}