.not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .not-found__content {
        padding: 0 var(--space-20);
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-16)
    }

        .not-found__img {
            height: 200px;
            width: 200px;
            background-color: blue;
        }  

        .not-found__text {
            display: flex;
            flex-direction: column;
            gap: var(--space-10)
        }
            .not-found__title {
                font-size: var(--text-xxl);
            }

            .not-found__paragraph {
                font-size: var(--text-md);
            }

        .not-found__link {
            font-size: var(--text-xs);
        }